.toast-show {
  animation-name: toast-show;
  animation-duration: 750ms;
}


@keyframes toast-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.toast-hide {
  animation-name: toast-hide;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
}

@keyframes toast-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
