.toast-show {
  -webkit-animation-name: toast-show;
  -webkit-animation-duration: 750ms;
  -moz-animation-name: toast-show;
  -moz-animation-duration: 750ms;
  -ms-animation-name: toast-show;
  -ms-animation-duration: 750ms;
  -o-animation-name: toast-show;
  -o-animation-duration: 750ms;
  animation-name: toast-show;
  animation-duration: 750ms;
}

@-webkit-keyframes toast-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@-moz-keyframes toast-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@-ms-keyframes toast-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@-o-keyframes toast-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes toast-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.toast-hide {
  -webkit-animation-name: toast-hide;
  -webkit-animation-duration: 750ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: toast-hide;
  -moz-animation-duration: 750ms;
  -moz-animation-fill-mode: forwards;
  -ms-animation-name: toast-hide;
  -ms-animation-duration: 750ms;
  -ms-animation-fill-mode: forwards;
  -o-animation-name: toast-hide;
  -o-animation-duration: 750ms;
  -o-animation-fill-mode: forwards;
  animation-name: toast-hide;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
}

@-webkit-keyframes toast-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@-moz-keyframes toast-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@-ms-keyframes toast-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@-o-keyframes toast-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes toast-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
