@import "animations";

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  background-color: #efeff4;
}

.toast {
  z-index: 99999;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: auto;
  margin-left: -100px;
  margin-top: -100px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  i {
    color: white;
    display: block;
    margin: 20% auto 0 auto;
    text-align: center;
  }
  span {
    position: relative;
    color: white;
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 22px;
    width: 100%;
    word-break: normal;
    padding: 5px 10px 10px 10px;
  }
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
input[type="email"] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  &.ng-valid {
    border: 1px solid #27ae60;
    box-shadow: inset 0 1px 1px rgba(39, 174, 96, .075);
  }
  &.ng-invalid {
    border: 1px solid #e74c3c;
    box-shadow: inset 0 1px 1px rgba(231, 76, 60,.075);
  }
  &:focus {
    outline: 0;
  }
}

.image_wrapper {
  position: relative;
  width: 100%;
}

.description {
  position: absolute;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  border-radius: 5px;
  p {
    text-align: center;
    opacity: 1;
    color: white;
  }
}

.selfie_img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
.fa-lg {
  vertical-align: -10%;
}
.button_addon {
  margin-left: 5px;
}

video {
  background-color: black;
  border-radius: 5px;
}

.page_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 10px 0 10px;
}

ons-button.disabled{
  pointer-events: none;
  button {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }
}
