.ngdialog-inner
  form(name="dialogForm", novalidate)
    input(type="email", ng-model="dialogModel.email", placeholder="Email-Adresse (optional)")
    button(type="submit", class="ngdialog-button ngdialog-button-primary", ng-class="{disabled: dialogForm.$invalid }",ng-click="dialogForm.$valid && confirm()")
      i.fa.fa-cloud-upload
      | OK
    button(class="ngdialog-button ngdialog-button-secondary", ng-click="closeThisDialog()")
      i.fa.fa-times
      | Abbrechen
