ons-page
  ons-toolbar
    .center Selfie hochladen
  .page_wrapper
    br
    form(name="dialogForm", novalidate)
      label Bitte Email angeben (optional)
      input(type="email", ng-model="server.email", placeholder="Email-Adresse (optional)", ng-pattern="/[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}/")
      br
      ons-button(modifier="large", type="submit", ng-class="{disabled: dialogForm.$invalid }", ng-click="dialogForm.$valid && onEmailClick()")
        div(ng-if="server.uploadRequested")
          ons-icon(icon="spinner", spin="true")
          | Hochladen...
        div(ng-if="!server.uploadRequested")
          ons-icon(icon="cloud-upload")
          | Uploaden!
      br
      ons-button(modifier="large", ng-class="{disabled: server.uploadRequested }", ng-click="!server.uploadRequested && selfieNav.popPage()")
        ons-icon(icon="times")
        | Abbrechen
