doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Selfie App
    link(rel='stylesheet', href='vendor/onsen/css/onsenui.css')
    link(rel='stylesheet', href='css/app.css')
    script(src='cordova.js')
    script(src='cordova_plugins.js')
    script(src='vendor/angular/angular.js')
    script(src='vendor/angular-touch/angular-touch.js')
    script(src='js/app.min.js')
  body(ng-app='selfieApp' ng-controller="MainCtrl")
    .center
      .image_wrapper(ng-hide='videoStream')
        img.selfie_img(ng-tap="" ng-src='{{imageSrc}}', camera)
        .description(ng-hide="uploadRequested")
          p Tippen, um neues Selfie aufzunehmen
      video(ng-src='{{videoStream}}', ng-show='videoStream', width='320', height='279', usermedia, autoplay)
    .center
      button(ng-click="onDestroyClick()", ng-class="{ disabled: !imageAvailable || uploadRequested }")
        i.fa.fa-times
        span.button_addon Selfie löschen
      button(ng-click="onUploadClick()", ng-class="{ disabled: !imageAvailable }", ng-hide="uploadRequested")
        i.fa.fa-cloud-upload
        span.button_addon Selfie Hochladen
      button(ng-show="uploadRequested")
        i.fa.fa-spinner.fa-spin
        span.button_addon Hochladen...




