doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Selfie App
    link(rel='stylesheet', href='vendor/css/vendor.min.css')
    link(rel='stylesheet', href='css/app.css')
    script(src='cordova.js')
    script(src='cordova_plugins.js')
    script(src='vendor/js/vendor.min.js')
    script(src='js/app.min.js')
  body(ng-app='selfieApp' ng-controller="MainCtrl")
    .center
      .image_wrapper(ng-hide='videoStream || imageAvailable')
        span.selfie_img(picture-fill, camera, data-alt="Foobar")
          span(pf-src="img/selfie_landscape.svg", data-media="(min-width: 645px)")
          span(pf-src="img/selfie_portrait.svg", data-media="(max-width: 644px)")
          .description(ng-hide="uploadRequested")
            p Tippen, um neues Selfie aufzunehmen
      img.selfie_img(ng-src="{{imageSrc}}", ng-show="imageAvailable")
      video(ng-src='{{videoStream}}', ng-show='videoStream', width='320', height='279', usermedia, autoplay)
    .center
      button(ng-click="onDestroyClick()", ng-class="{ disabled: !imageAvailable || uploadRequested }")
        i.fa.fa-times
        span.button_addon Selfie löschen
      button(ng-click="onUploadClick()", ng-class="{ disabled: !imageAvailable }", ng-hide="uploadRequested")
        i.fa.fa-cloud-upload
        span.button_addon Selfie Hochladen
      button(ng-show="uploadRequested")
        i.fa.fa-spinner.fa-spin
        span.button_addon Hochladen...

