doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Selfie App
    link(rel='stylesheet', href='vendor/css/vendor.min.css')
    link(rel='stylesheet', href='css/app.css')
    script(src='cordova.js')
    script(src='cordova_plugins.js')
    script(src='vendor/js/vendor.min.js')
    script(src='js/app.min.js')
  body(ng-app='selfieApp' ng-controller="MainCtrl")
    ons-page
      .ons-row(align="center")
        .image_wrapper(ng-hide='userMedia.videoAvailable || userMedia.imageAvailable')
          img.selfie_img(camera, data-alt="Selfie", ng-src="{{imageSrc}}")
          img.selfie_img(camera, data-alt="Selfie", ons-if-orientation="landscape", src="img/selfie_portrait.svg")
          .description(ng-hide="uploadRequested")
            p Tippen, um neues Selfie aufzunehmen
        img.selfie_img(ng-src="{{imageSrc}}", ng-show="userMedia.imageAvailable")
        video(ng-src='{{userMedia.videoBlob}}', ng-show='userMedia.videoAvailable', width='320', height='279', usermedia, autoplay)
      .ons-row(align="center")
        br
        ons-button(modifier="large", ng-click="onDestroyClick()", ng-class="{ disabled: !userMedia.imageAvailable || uploadRequested }")
          i.fa.fa-times
          span.button_addon Selfie löschen
        br
        ons-button(modifier="large", ng-click="onUploadClick($event)", ng-class="{ disabled: !userMedia.imageAvailable }", ng-hide="uploadRequested")
          i.fa.fa-cloud-upload
          span.button_addon Selfie Hochladen
        ons-button(modifier="large", ng-show="uploadRequested")
          i.fa.fa-spinner.fa-spin
          span.button_addon Hochladen...
        ons-button(modifier="large", ng-click="testClick()")
          i.fa.fa-spinner.fa-spin
          span.button_addon Titten
